In [3]:
# print the type of x,y,z

x = 1  
y = 2.8  
z = 1j

print(x)
print(y)
print(z)

1
2.8
1j

In [4]:
# Convert flot into int 

X=1.4
x=int(1.4 )
print(x )

1

In [6]:
#Convert from one type to another:

x = 5   # int
y = 3.8  # float
z = 5j   # complex

#convert from int to float:
x=float(5)
print(x)
#convert from float to int:
y=int(3.8)
print(y)
#convert from int to complex:
z=complex(5j)
print(z)

5.0
3
5j

In [12]:
# Print 15 random numbers

import random

print(random.randrange(1, 15) )

5

In [15]:
# Convert int ,float to string 

x = str("t5") 
print(x)
y = str(4)
print(y)
z = str(6.0)
print(z)

t5
4
6.0

In [16]:
# Assign a string to variable 

a="world"
print(a)

world

In [17]:
# Concatenate two string 
a="Hello raj?"
b="Hi Manish."
c="How are you."
d="I am fine."

print(a+b+c+d)

Hello raj?Hi Manish.How are you.I am fine.

In [19]:
# Print the output='lo, Wor'
a = "Hello, World!"
print(a[3:10])

lo, Wor

In [21]:
# Check the required string/word is in the sentence of not

Sentence="Hello Indian , I like you culture."

print('like' in Sentence)

True

In [23]:
# Print the output='I Love'
Sentence="I Love India!"
print(Sentence[0:6])

I Love

In [40]:
#print the output: 
#I want to pay 49.95 dollars for 3 pieces of item 567

quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {} dollars for {} pieces of item {}."
print(myorder.format(price,quantity,itemno))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [42]:
# remove the error
Sent = "We will vist America after two days."
print(Sent)

We will vist America after two days.

In [46]:
# Print the sentence after comma in next line 
Sent=" Hii Mona , When will we go for holidays ?  "
print(Sent[12:])

When will we go for holidays ?

In [6]:
# Remove the duplicate from the list 
List=["Ram",'Sam','Nick','Sam']
List=list(set(List))
List

['Sam', 'Nick', 'Ram']

In [3]:
# Print last for element of list by negative Indexing 

Fruit_list = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(Fruit_list[__:___])

['banana', 'cherry', 'orange', 'kiwi', 'melon']

In [5]:
# Replace the first Sam from Micky
List=["Ram",'Sam','Nick','Sam']
List[1]='Micky'
print(List)

['Ram', 'Micky', 'Nick', 'Sam']

In [12]:
# Insert the Micky at 3rd index
List=["Ram",'Sam','Nick','Sam']
List[3]='Micky'
List.append('Sam')
List

['Ram', 'Sam', 'Nick', 'Micky', 'Sam']

In [15]:
# Insert Kiwi in a tuple

x = ("apple", "banana", "cherry")
y = list(x)
____ = "kiwi"
x = tuple(__)

print(x)

kiwi

In [17]:
# Add item in set

Fruits = {"apple", "banana", "cherry"}

Fruits.add("Kiwi")

print(Fruits)

{'Kiwi', 'banana', 'apple', 'cherry'}

In [1]:
# Add two set
Fruit1 = {"apple", "banana", "cherry"}
Fruit2 = {"pineapple", "mango", "papaya"}
Fruits=Fruit1|Fruit2

print(Fruits)

{'pineapple', 'banana', 'cherry', 'papaya', 'mango', 'apple'}

In [11]:
# Remove the any item from the set
set={"Krishh","Prince","KUmar"}
set.discard("Krishh")
set

{'KUmar', 'Prince'}

In [17]:
#Add a new item to the original dictionary, and see that the keys list gets updated as well:
Bike = {
"brand": "Bajaj",
"model": "TVS",
"year": 2013
}

x = Bike.keys()

print(x) #before the change

Bike["Engine"] = 150

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'Engine'])

In [21]:
#Update the item from the Dict
Car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
Car.update({"year": 2020})
Car

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [23]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.popitem()
print(car)

{'brand': 'Ford', 'model': 'Mustang'}