In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df=pd.read_csv('https://raw.githubusercontent.com/krishnaik06/Multiple-Linear-Regression/master/50_Startups.csv',sep=",")
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [2]:
df.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [3]:
x=df.iloc[:,:-1]
y=df.iloc[:,4]

In [4]:
state=pd.get_dummies(df['State'],drop_first=True)

In [5]:
state.head()

   Florida  New York
0        0         1
1        0         0
2        1         0
3        0         1
4        1         0

In [6]:
x=x.drop('State',axis=1)

In [7]:
x=pd.concat([x,state],axis=1)

In [8]:
x.head()

   R&D Spend  Administration  Marketing Spend  Florida  New York
0  165349.20       136897.80        471784.10        0         1
1  162597.70       151377.59        443898.53        0         0
2  153441.51       101145.55        407934.54        1         0
3  144372.41       118671.85        383199.62        0         1
4  142107.34        91391.77        366168.42        1         0

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [10]:
from sklearn.linear_model import LinearRegression
Regressor= LinearRegression()

In [11]:
Regressor.fit(x_train,y_train)

LinearRegression()

In [12]:
y_predict=Regressor.predict(x_test)

In [13]:
y_predict

array([104282.76472172, 132536.88499212, 133910.85007766,  72584.77489417,
       179920.9276189 , 114549.31079234,  66444.43261346,  98404.96840122,
       114499.82808602, 169367.50639895,  96522.6253998 ,  88040.6718287 ,
       110949.99405525,  90419.1897851 , 128020.46250064])

In [37]:
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error
score_dict = {'score_r2': r2_score(y_test,y_predict)*100, 
              'score_ame':mean_absolute_error(y_test,y_predict), 
              'score_mse':mean_squared_error(y_test,y_predict),
              'score_rmse':np.sqrt(mean_squared_error(y_test,y_predict))}

for key,value in score_dict.items():
    print(f" {key} :", value)

 score_r2 : 93.58680970046241
 score_ame : 6520.697183081176
 score_mse : 61903144.4023937
 score_rmse : 7867.855133541396